[env]
ARCH = { value = "rv64", condition = { env_not_set = ["ARCH"] } }

[env.TARGET]
source = "${ARCH}"
default_value = "riscv64gc-unknown-none-elf"
mapping = { "rv32" = "riscv32imac-unknown-none-elf", "rv64" = "riscv64gc-unknown-none-elf" }

[env.QEMU]
source = "${ARCH}"
default_value = "qemu-system-riscv64"
mapping = { "rv32" = "qemu-system-riscv32", "rv64" = "qemu-system-riscv64" }

[tasks.build]
command = "cargo"
args = ["build", "--target", "${TARGET}"]

[tasks.run]
dependencies = ["build"]
command = "${QEMU}"
args = [
    "-machine", "virt",
    "-nographic",
    "-kernel", "target/${TARGET}/debug/risky"
]
