[tasks.run]
command = "qemu-system-riscv64"
args = [
    "-machine", "virt",
    "-nographic",
    "-bios", "none",
    "-kernel", "target/riscv64gc-unknown-none-elf/debug/risky"
]
dependencies = ["build"]

[tasks.build]
command = "cargo"
args = ["build"]
